/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	text-decoration: none;   
    transition: color 0.3s; 
}

li:hover {
	color: #B1663C;     
    cursor: pointer;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Filter-buttons LOOKS from figma */

.filter-buttons {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 15px;
}

.filter-buttons button {
  background-color: #fff;
  color: #1D6154;
  border: 2px solid #1D6154;
  border-radius: 25px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 16px;
}

.filter-buttons button:hover {
  background-color: #1D6154;
  color: #fff;
}

.filter-buttons button.active {
  background-color: #1D6154;
  color: #fff;
}

/* NAV BUTTONS */

nav ul li a:hover {
  color: #B1663C;
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
  transition: color 0.3s;
  color: #000000;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
}

nav ul li a:active,
nav ul li a:focus {      
  outline: none;
  cursor: pointer;
  color: rgb(0, 0, 0);
}


/* LOGIN PAGE */

.login-section {
  max-width: 400px;
  margin: 200px auto;
  padding: 0;               
  text-align: center;        
  font-family: 'Work Sans', sans-serif;
  padding-bottom: 200px;
}

.login-section h2 {
  font-family: 'Syne', sans-serif;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 30px;
  color: #1D6154
}

.login-section form {
  display: flex;
  flex-direction: column;
  gap: 5px;                 
}

.login-section label {
  font-weight: 600;
  margin-bottom: 6px;
  text-align: left;
  display: block;
  color: #000000;
}

.login-section input {
  padding: 18px 20px;       
  font-size: 18px;         
  border: none;           
  border-radius: 2px;
  outline: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s, transform 0.2s;
}


.login-section button {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 700;
  background-color: #1D6154;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 45px;
  width: 50%;
  align-self: center;
}

.login-section input#email {
  margin-bottom: 30px;
}

#forgot-password {        
  color: #000000;         
  font-size: 14px;       
  font-weight: 600;       
  margin-top: 20px;        
  text-align: center;     
}

#login-error {
  display: none;          
  color: #d51313;        
  font-size: 18px;        
  font-weight: 700;       
  margin-top: 50px;        
  text-align: center;     
}

#forgot-link {
  color: #000; 
  text-decoration: underline;
  cursor: pointer;
}

#forgot-link:hover {
  color: #B1663C;
}
